# Supabase Config
VITE_SUPABASE_URL=https://sua-url.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sua-chave-anon

# Storage Config
VITE_R2_ENDPOINT=https://endpoint.r2.cloudflarestorage.com
VITE_R2_ACCESS_KEY=seu-access-key
VITE_R2_SECRET_KEY=seu-secret-key
VITE_R2_BUCKET_NAME=seu-bucket
VITE_R2_PUBLIC_DOMAIN=https://seu-dominio-publico.r2.dev
CLOUDFLARE_API_TOKEN=seu-token

# E2E Test Credentials (Dedicated E2E User)
TEST_USER_EMAIL=e2e-owner@sobremidia.com.br
TEST_USER_PASSWORD=senha_isolada_aqui
